.faq{
    margin: 1rem;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem black;
}
.faq div{
    display: flex;
    justify-content: space-between;
}